<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.fanverse.mapper.ConcertSqlMapper">

  <insert id="insertConcert"
    useGeneratedKeys="true"
    keyProperty="id">
    INSERT INTO concert
    (artist_id, title, start_at, end_at, place, booking_url, poster_img)
    VALUES
      (#{artistId},
       #{title},
       #{startAt},
       #{endAt},
       #{place},
       #{bookingUrl},
       #{posterImg})
  </insert>

  <select id="findById"
          parameterType="string"
          resultType="com.example.fanverse.dto.concert.ConcertDto">
    SELECT * FROM concert
    WHERE id = #{id}
  </select>

</mapper>